<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJACM - CONTACT US</title>

    <!-- META TAGS FOR SEO -->


    <meta name="keywords" content="djacm , djscoe acm, acm, dj acm, djscoe student chapter, events, computing, resources, world, students ">
    <meta name="description" content="DJSCOE-ACM has established itself as a successful committee in terms of the number of members who have become a part of the ACM family and in terms of the seminars/workshops that have been conducted.">
    <meta name="author" content="DJSCOE-ACM">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="0iXdl6xLt6MOIy6RSAZ5h3giWMn7Yuyhv2Ahld1h8pg" />




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Header Font-->
<!--Header Font-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<!--Scrolling Effect-->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<!--Favicon-->
<link rel="shortcut icon" href="{% static 'images/acm-black-logo.png' %}" type="image/x-icon">
<!--Header js-->
<!-- <script type="text/javascript" src="{% static 'js/pageLayout.js' %}"></script> -->
<!--HEADER CSS-->
<link rel="stylesheet" href="{% static 'css/contactus.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/pageLayout.css' %}"> -->
<!--YOUR FILE CSS-->

<!-- <link rel="stylesheet" href="./payment.css"> -->



</head>
<body>
  {% ifequal error "no" %}
  <script>
    alert("Message sent successfully");
    window.location=("{% url 'contact' %}")
  </script>
  {% endifequal %}

  {% ifequal error "yes" %}
  <script>
    alert("Something went wrong, please try again");
  </script>
  {% endifequal %}


  <!-- HEADER  -->
  <div class="banner">
    <div class="header" id="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/acm-white-logo.png' %}" alt=""></a>
        </div>
        <div class="menubtn" id="menubtn">
            <div class="p">
                <p id="bar1"></p>
                <p id="bar2"></p>
                <p id="bar3">  </p>
            </div>
        </div>

        <div class="innerheader" id="innerheader">
                    <div class="items"><a href="{% url 'home' %}"> Home </a></div>
                    <div class="items"><a href="{% url 'events' %}"> Events </a></div>
                    <div class="items"><a href="{% url 'teams' %}"> Committee </a></div>
                    <div class="items">
                        <div class="dropdown " >
                            <button class="dropbtn">Resources</button>
                            <div class="dropdown-content">
                                <a href="{% url 'resources' %}">PPT</a>
                                <a href="{% url 'ascii' %}">ASCII</a>
                            </div>
                        </div>
                    </div>
                    <div class="items"><a href="{% url 'blog' %}"> Blogs </a></div>
                    <!-- <div class="items"><a href=""> Blogs </a></div> -->
                    <!-- <div class="items contact"><a href="{% url 'contact' %}"> Contact Us </a></div> -->
                    <!-- <div class="items member"><a href="{% url 'submit' %}" class="membertext"> Be a Member</a></div> -->
                    <div class="items member"><a href="{% url 'if_home' %}" class="membertext">IF</a></div>
                </div><!--closes innerheader-->

    </div> <!--closes header-->
  </div>

    <!--DUMMY DATA (REMOVE and add here)-->

      <div class="full">
        <img id="img-head" src="{% static 'images/contactus.jpg' %}" alt="">
        <div class="contact-title">
          <h1 >Get In Touch</h1>
          <br>


          <h5 >Want to get in touch? We'd love to hear from you.</h5>
          <h5>Here's how you can reach us</h5>
        </div>

        <div class="container" >

          <div class="row">
            <div class="column" style="margin-top:0; padding:0" >
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0125379849087!2d72.83491335068949!3d19.107105887006586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9c676018b43%3A0x75f29a4205098f99!2sDwarkadas%20Jivanlal%20Sanghvi%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1609699766926!5m2!1sen!2sin"
                width="540" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="column">
              <form method="post">
                {% csrf_token %}
                <h2>Send a Message</h3>

                  <div class="row" style="width:100%; margin-left:1px;">
                    <div class="column">
                      <label for="fname">
                        <h4>First Name:</h4>
                      </label>
                      <input type="text" id="fname" name="firstname">

                    </div>

                    <div class="column">
                      <label for="lname">
                        <h4>Last Name:</h4>
                      </label>
                      <input type="text" id="lname" name="lastname">
                    </div>
                  </div>


                  <div class="row" style="width:100%;  margin-left:1px;">
                    <div class="column">
                      <label for="email">
                        <h4>Email:</h4>
                      </label>
                      <input type="text" id="email" name="email" required >
                      <!-- <h5 class="required">Required Field!</h5> -->
                    </div>
                    <div class="column">
                      <label for="subject">
                        <h4>Subject:</h4>
                      </label>
                      <input type="text" id="subject" name="subject">
                    </div>
                  </div>
                  <br>
                  <label for="message">
                    <h4>Message:</h4>
                  </label>
                  <br>
                  <div class="textarea"><textarea id="message" name="message" ></textarea></div>
                  <br>
                  <br>
                    <button type="submit" name="submit">SUBMIT</button>
                    <br><br>
                  <div class="row" >
                    <div class="column" style="padding:3%;">
                        <p>D. J. Sanghvi College of Engineering, Vile Parle (W), Mumbai. </p>
                    </div>
                    <div class="column" style="padding:3%;">
                        <p><i class="fa fa-tablet" aria-hidden="true" ></i> +91 9892998965</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> djacm@gmail.com</p>
                    </div>
                  </div>

              </form>
            </div>
          </div>
        </div>


      </div>



    <!--closes data box-->

    <!--FOOTER-->
  <footer>

    <div class="innerfooter">
        <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/acm-white-logo.png' %}" alt=""></a></div>

        <div class="footerbox">
            <div class="parts involved">
                <h2>Get Involved</h2>
                <ul>
                  <li><a href="{% url 'resources' %}"> PPT </a></li>
                  <li><a href="{% url 'blog' %}"> Blogs </a></li>
                  <!-- <li><a href=""> Blogs </a></li> -->
                  <li><a href="{% url 'events' %}"> Events </a></li>
                  <li><a href="{% url 'contact' %}"> Contact Us </a></li>
                </ul>
            </div>
            <div class="parts sociallinks">
                <h2>Stay Connected</h2>
                <div class="icons">
                  <a href="https://www.instagram.com/djsanghvi_acm/?hl=en"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.facebook.com/djscoe.acm.5"><i class="fa fa-facebook"></i></i></a>
                  <a href="https://in.linkedin.com/company/dj-sanghvi-acm"><i class="fa fa-linkedin"></i></i></a>
                </div>
            </div>
            <div class="parts subscribe">
                <h2>Subscribe To NewsLetter</h2>
               <div class="emailinput">
                  <input type="email" class="email" placeholder="Enter your Email Address">
                  <button>Join</button>
                </div>

            </div>
        </div>

    </div>

    <div class="copyright"> <i class="fa fa-copyright"></i> 2021 DJSCE ACM -- All Rights Reserved</div>
  </footer>






 <script>

function StickyHeader() {
    var header = document.getElementById("header") ;
    var sticky = header.offsetTop + 220 ;

      if (window.pageYOffset > sticky) {
    // header.style.backgroundColor=" rgba(7, 18, 54, 0.904)";
      header.classList.add("scrollHeader") ;
    } else {
    // header.style.backgroundColor=" rgba(0, 0, 0, 0.00)";
      header.classList.remove("scrollHeader") ;
    }
  }
    window.onscroll = function() { StickyHeader() };
</script>

<!--JQuery Menu for small screen-->
<script>
   $(document).ready(function(){
      $("#menubtn").click(function(){
        $("#innerheader").slideToggle("activemenu");
        $(".header").toggleClass("activemenu");
        $(".logo").toggleClass("activelogo");

      });
    });
</script>

<script>
/* Get the offset position(i.e after which height we want
to change colour).  */

</script>


</body>
</html>
