# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\junai\OneDrive - Shri Vile Parle Kelavani Mandal\Desktop\ACM-Web-Official\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
